<div id="bin-search-wrapper">
    <input id="bin-search" type="text" placeholder="Search for a vm..."/>
</div>
<main>
  <div id="bin-table-wrapper">
      <table id="bin-table">
          <thead>
              <tr>
                  <th>VM Name</th>
      <th>Level</th>
      <th>Creator</th>
                  <th>Tested</th>
      <th>URL</th>
      <th>MD5</th>
              </tr>
          </thead>
          <tbody>
      {% for file in site.vms reversed %}
      {% assign filename = file.path | split: '/' | last %}
      {% assign trimmed_filename = filename | slice: 3, filename.size %}
              <tr>
      {% assign filename = file.path | slice: 5, file.path.size %}
                  <td class="id-vmname"><span class="bin-name">{{ trimmed_filename }}</span></td>
      <td class="level">{% include level_list.html bin=file %}</td>
      <td class="creator">{% include creator_list.html bin=file %}</td>
                  <td>{% include tested_list.html bin=file %}</td>
      <td class="url">{% include url_list.html bin=file %}</td>
      <td class="md5">{% include md5_list.html bin=file %}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
      <p id="search-message">No matches for <span id="query"></span>. Try with other search.</p>
  </div>
</main>

<script>
 const filter = (query) => {
  const queryArray = query.toLowerCase().trim().split(/ *\+/);
  const [binPattern, ...functionPatterns] = queryArray;

  // filter rows
  let noResults = true;
  document.querySelectorAll('#bin-table tbody tr').forEach((row) => {
    let show = true;

    const binName = row.querySelector('.bin-name')?.innerText?.toLowerCase();
    if (!binName?.includes(binPattern)) {
      show = false;
    }

    if (show) {
      const functionElems = Array.from(row.querySelector('.functions')?.children ?? []);
      functionPatterns.forEach((pattern) => {
        // skip empty filters
        if (!pattern) {
          return;
        }
        // check against the pattern
        const hasMatches = functionElems.some((item) =>
          item.innerText?.toLowerCase()?.startsWith(pattern.toLowerCase())
        );
        // no function satisfies the pattern
        if (!hasMatches) {
          show = false;
        }
      });
    }

    row.style.display = show ? '' : 'none';
    noResults = noResults && !show;
  });

  // update the search message visibility
  const searchMessage = document.querySelector('#search-message');
  const searchBox = document.querySelector('#bin-search');
  const queryElem = document.querySelector('#query');
  queryElem.textContent = searchBox.value;
  searchMessage.style.display = noResults ? 'block' : 'none';
}

// filter on load according to the URL
const applyFilter = () => {
  const searchBox = document.querySelector('#bin-search');
  const query = decodeURIComponent(location.hash.slice(1));
  searchBox.value = query
  filter(query);
}

const setup = () => {
  const searchBox = document.querySelector('#bin-search');

  // ensure height during filtering
  const binTableWrapper = document.querySelector('#bin-table-wrapper');
  binTableWrapper.style.height = `${binTableWrapper.clientHeight}px`;

  // handle user input
  searchBox.addEventListener('input', () => {
    const query = searchBox.value;
    history.replaceState(null, null, encodeURI(`#${query}`));
    applyFilter();
  });

  // handle shortcuts
  addEventListener('keydown', (event) => {
    // focus search box on valid keydown
    if (event.key.toLowerCase().match(/^[+a-z]$/) &&
      !(event.ctrlKey || event.altKey || event.metaKey)) {
      searchBox.focus();
      searchBox.parentElement.scrollIntoView();
    }
    // clear filter on escape
    else if (event.key === 'Escape') {
      location.hash = searchBox.value = '';
      searchBox.focus();
      searchBox.parentElement.scrollIntoView();
    }
  });

  // handle URL changes
  window.onhashchange = applyFilter;

  // trigger filter on page load
  applyFilter();
}

setup();
</script>
