{% for md5_list in site.data.md5 %}
    {% assign md5_id = md5_list[0] %}
    {% assign md5 = md5_list[1] %}
    {% unless include.bin.md5[md5_id] %}
        {% continue %}
    {% endunless %}
    <span id="md5-hash" title="{{ md5.label }}">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-info" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M14 3v4a1 1 0 0 0 1 1h4" />
            <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
            <path d="M11 14h1v4h1" />
            <path d="M12 11h.01" />
        </svg>
    </span>
    <button class="copy-btn" title="Copy to clipboard!" onclick="copyToClipboard(this)">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-copy" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" />
            <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2" />
        </svg>
    </button>
    <div class="tooltip">Copied!</div>
    <script>
        function copyToClipboard(button) {
            const md5HashElement = button.previousElementSibling;
            const md5Hash = md5HashElement.getAttribute('title');
            navigator.clipboard.writeText(md5Hash);

            const tooltip = button.nextElementSibling;
            tooltip.style.visibility = 'visible';
            tooltip.style.opacity = '1';
            setTimeout(() => {
                tooltip.style.visibility = 'hidden';
                tooltip.style.opacity = '0';
            }, 2000);
        }
    </script>
{% endfor %}