---
---

// Custom Variables
$marked: #0000ff;
$dark: #25272d;
$red: #c8574e;
$th: #78192f;
$even-row: #cf424e;
$hover-color: #86d6fc;
$white: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans, sans-serif;
}

body {
  background-color: #2f323a;
  color: $white;
  min-height: 100vh;
}

header, footer {
  background-color: $dark;
}

code {
  padding: 0.15em 0.25em;
  border-radius: 0.25em;
  background: $red;
}

pre {
  background: $red;
  border-radius: 0.5rem;
}

.highlight {
  padding: 1rem;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: $white;
}

a:hover {
  color: $hover-color;
}

.active strong {
  color: #daa04a;
  text-decoration: underline;
}

a strong {
  color: #daa04a;
}

a strong:hover {
  opacity: 0.7;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  // padding: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.navbar a {
  font-weight: bold;
  padding: 1.5rem;
  color: #939598;
}

.active-nav {
  color: #d9534f !important;
  border-bottom: 2px solid #d9534f;
}

.navbar a:hover {
  border-bottom: 2px solid #939598;
}

.active-nav:hover {
  cursor: default;
  border-bottom: 2px solid #d9534f !important;
}

.project-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

a.github-button {
  visibility: hidden;
}

h1,
h2 {
  margin-bottom: 1rem;
}

#submit-vm, #submit-writeups {
  margin: 1.5rem 1.5rem 1rem 1.5rem;
}

p {
  margin: 1rem;
}

h2 + ul,
p + ol {
  margin: 1rem 0;
  padding-left: 3rem;
}

h2 + ul li,
p + ol li {
  padding: 0.25rem 0;
  line-height: 1.5rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #727272;
}

#vm-state {
  max-width: 85ch;
  line-height: 1.5rem;
  padding: 1rem;
}

#vm-state a {
  background: $red;
  font-weight: bold;
  border-radius: 0.25em;
  padding: 2px 2px;
}

// binary list and
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin: 1.5rem 0;
}

.filters {
  height: 75px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1rem;
}

.total-vms, .form-separator {
  color: #daa04a;
}

#total-vms,
#total-vms + span {
  font-size: 1.15rem;
  width: 100px;
  text-align: center;
}

.vm-stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.35rem;
}

.vm-stats {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#bin-search-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.search-icon {
  position: relative;
  left: 35px;
}

.clear-search {
  display: none;
  position: absolute;
  right: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: none;
}

#bin-search {
  width: 100%;
  padding: 0.75rem;
  padding-left: 2rem;
  border-radius: 0.25em;
  border: 1px solid #b9c4e4 ;
  color: $white;
  background-color: #939598 ;
  font-size: 1rem;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

#search-message {
  display: none;
  text-align: center;
  padding: 1em;
  font-size: 1.15rem;
  margin-top: 1.5rem;
}

#query {
  font-weight: bold;
  font-size: 1.25rem;
}

.creator, .first-user, .first-root {
  text-align: left;
}

td.vvm-diffi,
td.vvm-platf,
td.vvm-curl,
td.vvm-wal {
  text-align: center;
}

#bin-table-wrapper {
  border: 1px solid #daa04a;
  border-radius: 0.25rem;
  overflow: hidden;
}

#bin-table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  text-align: center;
  padding: 0 1rem;
}

td {
  height: 52px;
}

th {
  height: 56px;
  background-color: $dark;
  color: #daa04a;
}

.th-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tested {
  display: flex;
  align-items: center;
  justify-content: center;
}

tbody tr {
  background-color: #1e2125;
}

#bin-table td {
  border-top: 1px solid #daa04a;
  color: #c8cbcf;
}

#bin-table tr:hover {
  background-color: rgba(0,0,0,.25);
}

td div {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.card-btn {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: white;
}

.card-body-wrapper {
  border: 1px solid #cbc7c7;
  border-radius: 0.25rem;
  overflow: hidden;
}

.card-body {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.card-os {
  border: none;
}

.card-creator, .card-difficulty, .card-release {
  border-top: 1px solid #cbc7c7;
  color: #c8cbcf;
}

#card-logo {
  position: relative;
  top: 0.5rem;
}

.card-os, .card-difficulty  {
	display: flex;
	align-items: center;
}

.card-text {
  color: #777171;
}

.card-difficulty-text {
  margin-left: 0.5rem;
}

.card-icon-wrapper {
	width: 25px;
	margin: 0 0.5rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-info td {
  text-align: left;
}

.card-title {
  margin-bottom: 0.5rem;
}

.tags {
  color: white;
  font-weight: bold;
}

.md5 {
  position: relative;
}

#md5-hash {
  position: relative;
  left: 8px;
  top: 2px;
}

.copy-btn {
  cursor: pointer;
  position: relative;
  top: 11px;
  left: 8px;
  background-color: inherit;
  border: none;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 75%;
  left: 80%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s;
}

details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writeup-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 50vh;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  width: 300px;
  background-color: #141414;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 0.25rem;
}

.writeups-container {
  position: relative;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.writeups-container a {
  color: #b2b5b9;
}

.writeups-container a:hover {
  color: #86888b;
}

.writeup-title {
  width: fit-content;
	margin-bottom: 0.25rem;
	position: relative;
	bottom: 47px;
  color: #daa04a;
}

.close {
	position: relative;
	bottom: 15px;
	left: 125px;
	width: 1.2em;
	height: 1.2em;
	color: #ccc;
  font-family: serif;
	font-size: 2.5em;
	line-height: 1.2;
	cursor: pointer;
}

.close:hover {
  color: #f27474;
  cursor: pointer;
}

// other classes

.logo-wrapper {
  margin: auto;
}

.logo {
  width: 180px;
  height: 50px;
}

.level-btn,
.badge {
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.swal2-border {
  border: 1px solid #bbb !important;
}

.swal2-title {
  color: white !important;
}

.swal2-popup.swal2-toast, .swal2-close:focus {
	box-shadow: none !important;
}

.badge-easy, #Easy {
	color: #28a745;
	border: 2px solid #28a745;
}

.easy {
  color: white;
	background-color: #28a74533;
}

.vm-name-btn {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 12px;
}

.bin-name, .vm-name {
  text-align: left;
}

.easy-dots {
  width: 16px;
  height: 16px;
  background: #28a745;
  border-radius: 50%;
}

#easy-vms {
	color: #28a745;
}

.badge-medium, #Medium  {
	color: #e1b300;
	border: 2px solid #e1b300;
}

.medium {
  color: white;
	background-color: #e1b30033;
}

.medium-dots {
  width: 16px;
  height: 16px;
  background: #e1b300;
  border-radius: 50%;
}

#medium-vms {
	color: #e1b300;
}

.badge-hard, #Hard {
	color: #ec0725;
	border: 2px solid #ec0725;
}

.hard {
  color: white;
	background-color: #ec072533;
}

.hard-dots {
  width: 16px;
  height: 16px;
  background: #ec0725;
  border-radius: 50%;
}

#hard-vms {
	color: #ec0725;
}

.media-info {
  width: 100%;
  padding: 0 0.5rem;
  display: grid;
  justify-content: end;
  margin-bottom: 1rem;
}

.media-links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.form > div ~ div {
  margin-top: 20px;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0.875rem;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font: 0.875rem/1.5 sans-serif;
  color: #ffffff;
  background-color: #1e2125;
  border: 1px solid #daa04a;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.form-footer {
  display: flex;
  align-items: center;
}

.submit-vm {
  text-align: center;
  color: #daa04a;
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.submit-form {
  width: 100%;
  max-width: 90vw;
  padding: 2rem;
  border-radius: 4px;
  background-color: #1e2125;
  border: 1px solid #daa04a;
}

.submit-form--loading {
  opacity: 0.5;
  pointer-events: none;
}

.submit-form--sent > div ~ div {
  margin: 0;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  font: 0.875rem/1.5 sans-serif;
  background-color: #ddd;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.7;
}

button[type="submit"] {
  color: white;
  background-color: $red;
}

button[type="reset"] {
  background-color: #c8cbcf;
}

footer {
  position: sticky;
  top: 100vh;
  padding: 1rem;
  color: #939598;
}

footer p {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .logo {
    margin-top: 1rem;
  }

  .card,
  .tested,
  .first-user,
  .first-root,
  .md5,
  .url,
  #card,
  #tested,
  #md5 {
    display: none;
  }

  .navbar a {
    padding: 0.35rem;
  }

  th, td, .level-btn, .badge {
    padding: 0.25rem;
    font-size: 0.85rem;
  }

  .wrapper  {
    width: 95vw;
  }

  .filters {
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  #bin-search-wrapper {
    justify-content: center;
  }

  .vm-stats {
    gap: 0.75rem
  }
}


@media (min-width: 700px) and (max-width: 812px) {
  #md5-hash {
    left: 0px;
    top: 16px;
  }
  
  .copy-btn {
    top: 0px;
    left: 25px;
  }
}

@media (min-width: 500px) and (max-width: 1500px) {
  .submit-form {
    padding: 1rem;
    max-width: 90vw;
  }

  .wrapper {
    width: 90vw;
  }

  .tested, #tested {
    display: none;
  }
}

@media (min-width: 1600px) {
  .wrapper {
    width: 75vw;
  }
}

@media (min-width: 1000px) {
  .submit-form  {
    width: 50vw;
  }
}