// Custom Variables
$font: "Segoe";
$marked: #0000ff;
$dark: #000000;
$lighter: #ab2a3e;
$hover-color: #38bdf8;
$accent: #ffffff;
$column-width: 1000px;
$grace-space: 200px;
$layout-break: "(min-width: #{$column-width + $grace-space})";

@font-face {
  font-family: "Segoe";
  src: url("segoeui.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font;
  background: $dark;
  color: $accent;
}

code {
  padding: 0.15em 0.25em;
  border-radius: 0.25em;
  background: $lighter;
}

pre {
  background: $lighter;
  padding: 1em;
  overflow-x: auto;

  code {
    padding: 0;
    border-radius: 0;
  }
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: $accent;
}

a:hover {
  color: $hover-color;
}

h1,
h2 {
  margin-bottom: 1rem;
}

hr {
  margin-top: 1rem;
}

#vvm-state a {
  background: $lighter;
  font-weight: bold;
  border-radius: 0.25em;
  padding: 2px 2px;
}

// binary list and search

#bin-search-wrapper {
  margin: 2rem 0;
  position: relative; // XXX needed for tooltip sizing
}

#bin-search {
  padding: 1em;
  width: 100%;
  border-radius: 0.25em;
  box-sizing: border-box;
  border: 1px solid $accent;
  color: $accent;
  background-color: $lighter;
}

td.vvm-name {
  width: 180px;
}

td.vvm-diffi,
td.vvm-platf,
td.vvm-curl,
td.vvm-wal {
  text-align: center;
}

#bin-table {
  width: 100%;

  th,
  td {
    padding: 0.5em;
    border-right: 1px solid $lighter;
    border-bottom: 1px solid $lighter;
  }

  th {
    text-align: center;
  }

  tbody tr:hover {
    background: $lighter;
  }

  #search-message {
    display: none;
    text-align: center;
    padding: 1em;
  }
}

td ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.url-list,
.md5-list,
.tested-list,
.level-list,
.creator-list {
  font-size: 0.85rem;

  li {
    a {
      padding: 0.25em 0.5em;
      margin: 0.2em 0;
    }

    &.match a {
      background: $marked;
    }
  }
}

// bin examples

.examples {
  display: table;
  width: 100%;
  table-layout: fixed;
  counter-reset: item;

  li {
    display: table-row;

    &:not(:only-child):before {
      display: table-cell;
      font-size: 0.8rem;
      font-weight: bold;
      width: 3em;
      text-align: center;
      counter-increment: item;
      content: "(" counter(item, lower-alpha) ")";
    }
  }
}

// other classes

.logo {
  $margin: 20px;
  float: right;
  width: 135px;
  height: 135px;
  margin-left: $margin;
  margin-bottom: $margin;
}

.bin-name {
  font-size: 1.2rem;
  padding-left: 1rem;
}

.function-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.github-buttons {
  margin-left: 10px;

  // avoid displaying the link text during loading
  a.github-button {
    visibility: hidden;
  }
}

// LEVELS BUTTONS

.boton-easy,
.boton-medium,
.boton-hard {
  border-radius: 10%;
  padding: 0.1rem;
  background-color: #4c9b51;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.boton-easy {
  background-color: #4c9b51;
}

.boton-medium {
  background-color: #b79616;
}

.boton-hard {
  background-color: #b71652;
}

// disable diffis and platfs from sub taglist

#bin-table
  > tbody:nth-child(2)
  > tr
  > td:nth-child(4)
  > ul:nth-child(1)
  > li:nth-child(2),
#bin-table
  > tbody:nth-child(2)
  > tr
  > td:nth-child(4)
  > ul:nth-child(1)
  > li:nth-child(3) {
  display: none;
}

.bttop {
  position: fixed;
  left: 30px;
  bottom: 30px;
  background: $lighter;
  border-radius: 0.25em;
  padding: 2px 2px;
}

.newicon {
  padding: 0 !important;
  margin: 0 !important;
  border: 0px !important;
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}

.cinfo {
  float: right;
}

@media #{$layout-break} {
  body {
    width: $column-width;
    margin: 40px auto;
  }

  p {
    text-align: justify;
  }
}

@media not all and #{$layout-break} {
  .github-corner {
    display: none;
  }
}
