---
---

// Custom Variables
$marked: #0000ff;
$dark: #141414;
$red: #bd4658;
$row: #1f1414;
$even-row: #b65261;
$hover-color: #86d6fc;
$white: #ffffff;
$column-width: 1000px;
$grace-space: 200px;
$layout-break: "(min-width: #{$column-width + $grace-space})";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans, sans-serif;
}

body {
  background: $dark;
  color: $white;
}

code {
  padding: 0.15em 0.25em;
  border-radius: 0.25em;
  background: $red;
}

pre {
  background: $red;
  padding: 1em;
  overflow-x: auto;

  code {
    padding: 0;
    border-radius: 0;
  }
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: $white;
}

a:hover {
  color: $hover-color;
}

header h1 {
  margin: 1rem 0;
  padding: 0.5rem;
}

h1,
h2 {
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

h2 + ul,
p + ol {
  margin: 1rem 0;
  padding-left: 3rem;
}

h2 + ul li,
p + ol li {
  padding: 0.25rem 0;
}

#vm-state {
  padding: 0.5rem;
}

#vm-state a {
  background: $red;
  font-weight: bold;
  border-radius: 0.25em;
  padding: 2px 2px;
}

// binary list and search

#bin-search-wrapper {
  padding: 0.5rem;
  margin: 2rem 0;
}

#bin-search {
  padding: 1em;
  width: 100%;
  border-radius: 0.25em;
  box-sizing: border-box;
  border: 1px solid #808080;
  color: $white;
  background-color: $red;
}

#search-message {
  font-size: 1.15rem;
  margin-top: 1.5rem;
}

#query {
  font-weight: bold;
  font-size: 1.25rem;
}

td.vvm-name {
  width: 180px;
}

td.vvm-diffi,
td.vvm-platf,
td.vvm-curl,
td.vvm-wal {
  text-align: center;
}

#bin-table {
  width: 100%;
  padding: 0.5rem;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  text-align: center;
  padding: 0.75rem;
  border: 1px solid #808080;
}

th {
  color: #D99BA3;
  background-color: #1d1c1c;
}

tbody tr {
  background-color: $red;
}

tbody tr:hover {
  background-color: $even-row;
}

tbody tr:nth-child(even) {
  background-color: $dark;
}

tbody tr:nth-child(even):hover {
  background-color: #383030;
}

tr:first-child th:first-child {
  border-top-left-radius: 0.25rem;
}
tr:first-child th:last-child {
  border-top-right-radius: 0.25rem;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 0.25rem;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 0.25rem;
}

#search-message {
  display: none;
  text-align: center;
  padding: 1em;
}

td div {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.md5,
.creator,
.writeups {
  font-size: 0.85rem;
}

// bin examples

.examples {
  display: table;
  width: 100%;
  table-layout: fixed;
  counter-reset: item;

  li {
    display: table-row;

    &:not(:only-child):before {
      display: table-cell;
      font-size: 0.8rem;
      font-weight: bold;
      width: 3em;
      text-align: center;
      counter-increment: item;
      content: "(" counter(item, lower-alpha) ")";
    }
  }
}

// other classes

.logo {
  float: right;
  width: 135px;
  height: 135px;
}

.function-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.github-buttons {
  margin-left: 0.25rem;

  // avoid displaying the link text during loading
  a.github-button {
    visibility: hidden;
  }
}

// LEVELS BUTTONS

.boton-easy,
.boton-medium,
.boton-hard {
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.boton-easy {
  background-color: #335B33;
}

.boton-medium {
  background-color: #e1b300;
}

.boton-hard {
  background-color: #ec0725;
}

// disable diffis and platfs from sub taglist

#bin-table
  > tbody:nth-child(2)
  > tr
  > td:nth-child(4)
  > ul:nth-child(1)
  > li:nth-child(2),
#bin-table
  > tbody:nth-child(2)
  > tr
  > td:nth-child(4)
  > ul:nth-child(1)
  > li:nth-child(3) {
  display: none;
}

.bttop {
  position: fixed;
  left: 30px;
  bottom: 30px;
  border-radius: 0.25em;
  padding: 2px 2px;
}

.newicon {
  display: flex;
  align-items: center;
}

.media-info {
  width: 100%;
  padding: 0 0.5rem; 
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  margin-bottom: 0.5rem;
}

.media-info a:hover {
  scale: 1.2;
}

@media #{$layout-break} {
  body {
    width: $column-width;
    margin: 40px auto;
  }

  p {
    text-align: justify;
  }
}

@media not all and #{$layout-break} {
  .github-corner {
    display: none;
  }
}
