---
---

// Custom Variables
$marked: #0000ff;
$dark: #141414;
$red: #bd4658;
$row: #1f1414;
$even-row: #b65261;
$hover-color: #86d6fc;
$white: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans, sans-serif;
}

body {
  background: $dark;
  color: $white;
  min-height: 100vh;
}

code {
  padding: 0.15em 0.25em;
  border-radius: 0.25em;
  background: $red;
}

pre {
  background: $red;
  border-radius: 0.5rem;
}

.highlight {
  padding: 1rem;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: $white;
}

a:hover {
  color: $hover-color;
}

a strong {
  color: $red;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #727272;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navbar a {
  font-weight: bold;
  border-radius: 0.5rem;
  font-size: 1.15rem;
  padding: 0.85rem;
}

.navbar a:hover {
  color: inherit;
  background-color: rgb(75, 85, 99);
}

.project-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.github-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.github-button {
  visibility: hidden;
}

h1,
h2 {
  margin-bottom: 1rem;
}

p,
#submit-rules,
#pull-request-optional {
  margin: 1rem;
}

h2 + ul,
p + ol {
  margin: 1rem 0;
  padding-left: 3rem;
}

h2 + ul li,
p + ol li {
  padding: 0.25rem 0;
  line-height: 1.5rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #727272;
}

#vm-state {
  max-width: 85ch;
  line-height: 1.5rem;
  padding: 1rem;
}

#vm-state a {
  background: $red;
  font-weight: bold;
  border-radius: 0.25em;
  padding: 2px 2px;
}

// binary list and
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 80vw;
  margin-top: 1.5rem;
}

.wrapper article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#total-vms, #total-vms + span {
  font-size: 1.15rem;
}

.vm-stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d99ba3;
  font-weight: bold;
  gap: 0.35rem;
}

.vm-stats {
  grid-column: 2/3;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#bin-search-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

.search-icon {
  position: relative;
  left: 35px;
}

#bin-search {
  width: 20vw;
  padding: 0.75rem;
  padding-left: 2rem;
  border-radius: 0.25em;
  border: 1px solid #808080;
  color: $white;
  background-color: $red;
  font-size: 1rem;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

#search-message {
  display: none;
  text-align: center;
  padding: 1em;
  font-size: 1.15rem;
  margin-top: 1.5rem;
}

#query {
  font-weight: bold;
  font-size: 1.25rem;
}

td.vvm-name {
  width: 180px;
}

td.vvm-diffi,
td.vvm-platf,
td.vvm-curl,
td.vvm-wal {
  text-align: center;
}

#bin-table {
  margin: auto;
  width: 80vw;
  padding: 1.5rem 0;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #808080;
}

th {
  padding: 0.75rem;
  color: #d99ba3;
  background-color: #1d1c1c;
}

tbody tr {
  background-color: $red;
}

tbody tr:hover {
  background-color: $even-row;
}

tbody tr:nth-child(even) {
  background-color: $dark;
}

tbody tr:nth-child(even):hover {
  background-color: #383030;
}

tr:first-child th:first-child {
  border-top-left-radius: 0.25rem;
}
tr:first-child th:last-child {
  border-top-right-radius: 0.25rem;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 0.25rem;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 0.25rem;
}

td div {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.md5,
.creator,
.writeups {
  font-size: 0.85rem;
}

// bin examples

.examples {
  display: table;
  width: 100%;
  table-layout: fixed;
  counter-reset: item;

  li {
    display: table-row;

    &:not(:only-child):before {
      display: table-cell;
      font-size: 0.8rem;
      font-weight: bold;
      width: 3em;
      text-align: center;
      counter-increment: item;
      content: "(" counter(item, lower-alpha) ")";
    }
  }
}

// other classes

.logo-wrapper {
  margin: auto;
}

.logo {
  width: 65px;
  height: 65px;
}

.function-name {
  font-size: 1.4rem;
  font-weight: bold;
}

// LEVELS BUTTONS

.boton-easy,
.boton-medium,
.boton-hard,
.badge {
  border-radius: 0.25rem;
  padding: 0.25rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.boton-easy,
.easy {
  background-color: #4c9b51;
}

.boton-medium,
.medium {
  background-color: #e1b300;
}

.boton-hard,
.hard {
  background-color: #ec0725;
}

// disable diffis and platfs from sub taglist

#bin-table
  > tbody:nth-child(2)
  > tr
  > td:nth-child(4)
  > ul:nth-child(1)
  > li:nth-child(2),
#bin-table
  > tbody:nth-child(2)
  > tr
  > td:nth-child(4)
  > ul:nth-child(1)
  > li:nth-child(3) {
  display: none;
}

.bttop {
  position: fixed;
  left: 30px;
  bottom: 30px;
  border-radius: 0.25em;
  padding: 2px 2px;
}

.newicon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-info {
  width: 100%;
  padding: 0 0.5rem;
  display: grid;
  justify-content: end;
  margin-bottom: 1rem;
}

.media-links {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;
}

.media-links a:hover {
  scale: 1.2;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0;
}

.form > div ~ div {
  margin-top: 20px;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0.875rem;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font: 0.875rem/1.5 sans-serif;
  color: #ffffff;
  background-color: $red;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-options {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.form-options .active {
  text-decoration: underline;
}

.form-footer {
  display: flex;
  align-items: center;
}

.contact-form {
  width: 100%;
  max-width: 568px;
  padding: 40px;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.contact-form--loading {
  opacity: 0.5;
  pointer-events: none;
}

.contact-form--sent > div ~ div {
  margin: 0;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  font: 0.875rem/1.5 sans-serif;
  background-color: #ddd;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

footer {
  position: sticky;
  top: 100vh;
  padding: 1rem;
  border-top: 1px solid #727272;
}

footer p {
  text-align: center;
}
