---
---

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans, sans-serif;
}

body {
  background-color: #2f323a;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header, footer {
  background-color: #25272d;
}

code {
  padding: 0.15em 0.25em;
  border-radius: 0.25em;
  background: #daa04a;
}

pre {
  background: #c8574e;
  border-radius: 0.5rem;
}

.highlight {
  padding: 1rem;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #86d6fc;
}

.active strong {
  color: #daa04a;
  text-decoration: underline;
}

a strong {
  color: #daa04a;
}

a strong:hover {
  opacity: 0.7;
}

header {
	width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.header-container {
  width: 90vw;
  display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

#page-title {
	margin: auto;
	font-size: 1.15rem;
	text-align: center;
	color: #daa04a;
}

.project-info {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 1rem;
}

a.github-button {
  visibility: hidden;
}

#submit-vm, #submit-writeups {
  margin: 1.5rem 1.5rem 1rem 1.5rem;
}

p {
  margin: 1rem 0;
}

h2 + ul  {
  line-height: 1.15rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #727272;
}

#vm-state {
  max-width: 85ch;
  line-height: 1.5rem;
  padding: 1rem;
}

#vm-state a {
  background: #c8574e;
  font-weight: bold;
  border-radius: 0.25em;
  padding: 2px 2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90vw;
  max-height: calc(100vh - 253px);
  overflow: scroll;
}

.actions {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
}

.total-vms {
  color: #daa04a;
}

#total-vms,
#total-vms + span {
  font-size: 1.25rem;
  width: 100px;
  text-align: center;
}

.vm-stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.35rem;
}

.vm-stats button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 0.35rem;
}

.vm-stats {
  list-style: none;
  display: flex;
  align-items: end;
  gap: 0.5rem;
}

.filters {
  position: relative;
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 0.5rem;
}

#text-filter {
  text-align: center;
  color: #a4b1cd;
}

#text-filter {
  width: 100%;
}

.filter-options{
  display: none;
  position: absolute;
  top: 37px;
  background-color: rgb(0,0,0);
  border-radius: 0.25rem;
  padding: 0.5rem;
  z-index: 10;
}

.level-filter {
	display: flex;
	align-items: center;
	font-size: 14px;
	padding: 0.25rem 0;
	gap: 0.5rem;
}

.order-by {
  display: none;
}

.filter-by {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
	border-radius: 0.25rem;
	padding: 0.5rem;
	border: none;
	background-color: rgba(0,0,0,0.4);
	color: white;
}

.submit-btn {
  margin-right: 1rem;
}

.submit-btn, .submit-user-flag, .submit-root-flag {
	cursor: pointer;
	font-size: 1rem;
	border-radius: 0.25rem;
	padding: 0.5rem;
	border: none;
	background-color: #daa04a;
	color: white;
}

.submit-user-flag, .submit-root-flag {
  padding: 0.35rem;
}

.filter-by:hover, .order-by:hover {
  background-color: rgba(0,0,0,0.8);
}

.submit-btn:hover, .submit-user-flag:hover, .submit-root-flag:hover {
  background-color: #daa04ab3;
}

#bin-search-wrapper {
	display: flex;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.25rem;
}

#bin-search-wrapper:focus {
  outline-style: solid;
}

.search-icon {
	position: relative;
	left: 4px;
	top: 5px;
	width: fit-content;
}

.clear-search {
	display: none;
	position: absolute;
	right: 116px;
	padding: 0.15rem;
	border-radius: 0.25rem;
	cursor: pointer;
	background-color: #c8cbcf;
	border: 1px solid transparent;
	top: 6px;
}

#bin-search {
	padding: 0.5rem;
	border: none;
	color: white;
	background-color: transparent;
	font-size: 1rem;
  outline: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

#search-message {
  display: none;
  text-align: center;
  padding: 1em;
  font-size: 1.15rem;
  margin-top: 1.5rem;
}

#query {
  font-weight: bold;
  font-size: 1.25rem;
}

.creator, .first-user, .first-root, .size {
  text-align: left;
}

td.vvm-diffi,
td.vvm-platf,
td.vvm-curl,
td.vvm-wal {
  text-align: center;
}

#bin-table-wrapper {
  border: 1px solid #daa04a;
  border-radius: 0.25rem;
}

#bin-table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

th,
td {
  text-align: center;
  padding: 0 1rem;
}

td {
  height: 58px;
}

th {
	height: 64px;
	background-color: #333;
	color: #daa04a;
	border-bottom: 1px solid #daa04a;
  position: sticky;
  top: 0;
  z-index: 9;
}

.th-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tested {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

tbody tr:nth-child(even) {
  background-color: rgba(30, 33, 37, 0.7);
}

tbody tr:nth-child(odd) {
  background-color: rgb(30, 33, 37);
}

#bin-table td {
  /* border-top: 1px solid #daa04a; */
  color: #c8cbcf;
}

#bin-table tr:hover {
  background-color: rgba(0,0,0, 0.5);
}

td div {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

#size {
  color: #c8cbcf;
}


.card-btn {
  cursor: pointer;
  background-color: inherit;
  border: none;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: white;
}

.card-body-wrapper {
  border: 1px solid #cbc7c7;
  border-radius: 0.25rem;
  overflow: hidden;
}

.card-body {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1rem;
}

.card-os {
  border: none;
  color: #c8cbcf;
}

#Linux {
  width: 22px;
  height: 22px;
}

#Windows {
  width: 22px;
  height: 22px;
}

.card-creator, .card-difficulty, .card-release {
  border-top: 1px solid #cbc7c7;
  color: #c8cbcf;
}

#card-logo {
  position: relative;
  top: 0.5rem;
}

.card-os, .card-difficulty  {
	display: flex;
	align-items: center;
}

.card-text {
  color: #777171;
}

.card-difficulty-text {
  margin-left: 0.5rem;
}

.card-icon-wrapper {
	width: 22px;
	margin: 0 0.5rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-info td {
  text-align: left;
}

.card-title {
  margin-bottom: 0.5rem;
}

.tags {
  color: white;
  font-weight: bold;
}

.md5 {
  position: relative;
}

#md5-hash {
  position: relative;
  left: 8px;
  top: 2px;
}

.copy-btn {
  cursor: pointer;
  position: relative;
  top: 11px;
  left: 8px;
  background-color: inherit;
  border: none;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 75%;
  left: 80%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s;
}

details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.writeup-btn, .add-writeup-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.modal, .form-writeup, .form-vm, .form-flag  {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 45vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.form-writeup, .form-vm, .form-flag, .modal {
  background-color: rgba(0,0,0,0.6);
}

.modal {
  padding-top: 45vh;
  overflow: hidden;
}

.form-writeup, .form-flag {
  padding-top: 10vh;
  overflow: scroll;
}

.form-vm {
  padding-top: 5vh;
  overflow: scroll;
}

.modal-content {
  width: 300px;
  background-color: #141414;
  margin: auto;
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 0.25rem;
}

.writeups-container {
  position: relative;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.writeups-container a {
  color: #b2b5b9;
}

.writeups-container a:hover {
  color: #86888b;
}

.writeup-title {
  width: fit-content;
	margin-bottom: 0.25rem;
	position: relative;
	bottom: 47px;
  color: #daa04a;
}

.close {
	position: relative;
	bottom: 15px;
	left: 125px;
	width: 1.2em;
	height: 1.2em;
	color: #ccc;
  font-family: serif;
	font-size: 2.5em;
	line-height: 1.2;
	cursor: pointer;
}

.close-form {
	width: 100%;
	display: flex;
	justify-content: end;
	color: #ccc;
	font-family: serif;
	font-size: 2em;
	line-height: 1.2;
	cursor: pointer;
}

.close:hover, .close-form:hover {
  color: #f27474;
  cursor: pointer;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	justify-content: start;
}

.logo {
  width: 160px;
  height: 24px;
}

.level-btn,
.badge {
  border-radius: 0.25rem;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.badge {
  padding: 0.5rem;
}

.level-btn {
  padding: 0.25rem;
}

.row.hidden {
  display: none;
}

.swal2-border {
  border: 1px solid #bbb !important;
}

.swal2-title {
  color: white !important;
}

.swal2-popup.swal2-toast, .swal2-close:focus {
	box-shadow: none !important;
}

.badge-easy, #Easy {
	color: #28a745;
	background-color: #28a74533;
}

.easy {
  color: white;
	background-color: #28a74533;
}

.vm-name-btn {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 12px;
}

.bin-name, .vm-name {
  text-align: left;
}

.easy-dots {
  width: 16px;
  height: 16px;
  background: #28a745;
  border-radius: 50%;
}

#easy-vms {
	color: #28a745;
}

.badge-medium, #Medium  {
	color: #e1b300;
	background-color: #e1b30033;
}

.medium {
  color: white;
	background-color: #e1b30033;
}

.medium-dots {
  width: 16px;
  height: 16px;
  background: #e1b300;
  border-radius: 50%;
}

#medium-vms {
	color: #e1b300;
}

.badge-hard, #Hard {
	color: #ec0725;
	background-color: #ec072533;
}

.hard {
  color: white;
	background-color: #ec072533;
}

.hard-dots {
  width: 16px;
  height: 16px;
  background: #ec0725;
  border-radius: 50%;
}

#hard-vms {
  color: #ec0725;
}

.badge-writeups {
  color: #daa04a;
  background-color: #daa04a33;
}

#total-writeups,.submit-vm, .submit-writeup, .submit-flag  {
  color: #daa04a;
}

.media-info {
  width: 100%;
  padding: 0 0.5rem;
  display: grid;
  justify-content: end;
  margin-bottom: 1rem;
}

.media-links {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.media-links a:hover {
  transform: scale(1.1);
}

.form-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
	flex-direction: column;
	background: #1e2125;
	border-radius: 0.25rem;
	padding: 2rem;
	width: 40vw;
	margin: auto;
}

.form-title {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.25rem;
}

.form-text {
  margin: 0;
  margin-bottom: 1rem;
  text-align: start;
  font-size: 0.85rem;
  width: 100%;
}

.form-field {
	display: flex;
	align-items: start;
	justify-content: start;
	flex-direction: column;
	gap: 0.25rem;
}

.form-checkbox {
	display: flex;
	gap: 0.5rem;
}

.form-btns {
 display: flex;
 align-items: center;
 justify-content: start;
 gap: 0.5rem;
}

.form > div ~ div {
  margin-top: 20px;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0.875rem;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px;
  font: 0.875rem/1.5 sans-serif;
  color: #141414;
  background-color: lightgray;
  border: 1px solid #939598;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: start;
}

.submit-vm, .submit-writeup, .submit-flag {
	text-align: start;
  font-size: 1.15rem;
  margin: 0;
}

.submit-form {
	width: 100%;
	max-width: 90vw;
	/* padding: 2rem; */
	/* border-radius: 4px; */
	/* background-color: #1e2125; */
	/* border: 1px solid #daa04a; */
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  font: 0.875rem/1.5 sans-serif;
  background-color: #ddd;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.7;
}

button[type="submit"] {
  color: white;
  background-color: #c8574e;
}

button[type="reset"] {
  background-color: #c8cbcf;
}

footer {
  position: sticky;
  top: 100vh;
  padding: 1rem;
  color: #939598;
}

footer p {
  text-align: center;
  margin-top: 1rem;
}

.footer-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-logo img {
  width: 50px;
  height: 50px;
}

#rules-warning {
  margin: 0 0 1rem 0;
}

.rules-heading {
  margin: 1.5rem 0;
}

.rules-list {
  padding: 0 1rem;
}

.rules-list .header-color {
  color: #3fa8f4;
}

.rules-list .text-color {
  color: #ec5353;
}

@media (min-width: 320px) and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .logo {
    margin-top: 1rem;
  }

  .wrapper, .header-container, .form-container {
    width: 95vw;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .card,
  #card,
  .tested,
  #tested,
  .url,
  .md5,
  #md5,
  .first-user,
  .first-root,
  .size,
  .submit-btn,
  .add-writeup-btn {
    display: none;
  }

  #bin-search {
    width: 160px;
  }

  .clear-search {
    right: 4px;
    top: 8px;
    padding: 0.1rem;
    font-size: 0.8rem;
  }

  th, td, .level-btn, .badge {
    padding: 0.5rem;
    font-size: 0.85rem;
  }

  #page-title {
    font-size: 0.9rem;
    width: 30ch;
  }

  #total-vms {
    font-size: 1rem;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .filters {
    align-items: center;
    justify-content: end;
  }

  .vm-stats, .filters {
    gap: 0.25rem;
  }

  .card-container {
    gap: 0;
  }

  #card-logo {
    top: 1rem;
    width: 150px;
    height: 150px;
  }
}


@media (min-width: 700px) and (max-width: 812px) {
  #md5-hash {
    left: 0px;
    top: 16px;
  }

  .copy-btn {
    top: 0px;
    left: 25px;
  }
}

@media (min-width: 1600px) {
  .wrapper, .header-container {
    width: 80vw;
  }
}
