<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="https://vulnyx.com/assets/favicon.png">
        <link rel="canonical" href="https://vulnyx.com/">
        <link rel="stylesheet" href="/assets/style.css" type="text/css" title="regular">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="keywords" content="vulnyx, hacking, hackers, pentest, pentesting, boot2root, security, cybersecurity, linux, unix, redteam, infosec, learn, training, ctf, vulns, vuln, vulnerable, vms">
        <meta name="description" content="VulNyx is a free platform for hackers where you can learn and practice cybersecurity with our vulnerable virtual machines." />
        <meta name="author" content="VulNyx team" />
        <meta property="og:title" content="VulNyx">
        <meta property="og:site_name" content="VulNyx">
        <meta property="og:url" content="https://vulnyx.com">
        <meta property="og:description" content="VulNyx is a free platform for hackers where you can learn and practice cybersecurity with our vulnerable virtual machines.">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://vulnyx.com/assets/logoSM.png">
        <title>VulNyx: Free Cybersecurity Platform | Enthusiasts & Professionals</title>
        <script async defer src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </head>
    <body>
        {{ content }}
        <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
        <script>
        kofiWidgetOverlay.draw('vulnyx', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support me',
        'floating-chat.donateButton.background-color': '#daa04a',
        'floating-chat.donateButton.text-color': '#fff'
        });
        </script>
    </body>
</html>
