<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://vulnyx.com/assets/favicon.png" />
  <link rel="canonical" href="https://vulnyx.com/" />
  <link rel="stylesheet" href="/assets/style.css" type="text/css" title="regular" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords"
    content="vulnyx, hacking, hackers, pentest, pentesting, boot2root, security, cybersecurity, linux, unix, redteam, infosec, learn, training, ctf, vulns, vuln, vulnerable, vms" />
  <meta name="description"
    content="VulNyx is a free platform for hackers where you can learn and practice cybersecurity with our vulnerable virtual machines." />
  <meta name="author" content="VulNyx team" />
  <meta property="og:title" content="VulNyx" />
  <meta property="og:site_name" content="VulNyx" />
  <meta property="og:url" content="https://vulnyx.com" />
  <meta property="og:description"
    content="VulNyx is a free platform for hackers where you can learn and practice cybersecurity with our vulnerable virtual machines." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://vulnyx.com/assets/logoSM.png" />
  <title>VulNyx | Submission Rules</title>
  <script async defer src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
  <header>
    <section class="header-container">
      <article class="logo-wrapper">
        <a href="/">
          <img class="logo" alt="VulNyx website logo" src="/assets/logo.png" />
        </a>
      </article>
      <h1 id="page-title">
        Welcome to the hacker zone! Check the rules to avoid issues with
        submissions!
      </h1>
      <article class="project-info">
        <div class="media-links">
          <a title="Support us on Ko-fi" href="https://ko-fi.com/vulnyx" target="_blank">
            <img width="28" height="24" loading="lazy" src="https://storage.ko-fi.com/cdn/kofi_stroke_cup.svg"
              alt="Ko-fi Logo" loading="eager" />
          </a>
          <a title="Discord" href="https://discord.gg/qdm3bN3Emb" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-discord" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#5865F2" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="9" cy="12" r="1" />
              <circle cx="15" cy="12" r="1" />
              <path d="M7.5 7.5c3.5 -1 5.5 -1 9 0" />
              <path d="M7 16.5c3.5 1 6.5 1 10 0" />
              <path
                d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-1 2.5" />
              <path
                d="M8.5 17c0 1 -1.356 3 -1.832 3c-1.429 0 -2.698 -1.667 -3.333 -3c-.635 -1.667 -.476 -5.833 1.428 -11.5c1.388 -1.015 2.782 -1.34 4.237 -1.5l1 2.5" />
            </svg>
          </a>
          <a title="LinkedIn" href="https://www.linkedin.com/company/vulnyx-official/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0077B5" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
              <path d="M8 11l0 5" />
              <path d="M8 8l0 .01" />
              <path d="M12 16l0 -5" />
              <path d="M16 16v-3a2 2 0 0 0 -4 0" />
            </svg>
          </a>
          <a title="Twitter" href="https://twitter.com/VulNyxOfficial" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24"
              height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#1D9BF0" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z" />
            </svg>
          </a>
          <a title="Mail" href="mailto:mail@vulnyx.com" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="2" stroke="#8a90c7" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="3" y="5" width="18" height="14" rx="2" />
              <polyline points="3 7 12 13 21 7" />
            </svg>
          </a>
          <a title="RSS" href="/feed/rss.xml" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-rss" width="24" height="24"
              viewBox="0 0 24 24" stroke-width="1.5" stroke="#00b341" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
              <path d="M4 4a16 16 0 0 1 16 16" />
              <path d="M4 11a9 9 0 0 1 9 9" />
            </svg>
          </a>
        </div>
      </article>
    </section>
  </header>
  <main>
    <section class="wrapper">
      <p id="rules-warning">These guidelines aim to ensure a smooth and enjoyable experience for all users.</p>
      <h2 class="rules-heading">About VMs</h2>
      <ul class="rules-list">
        <li>
          <p><span class="header-color"><strong>Platform Exclusivity:</strong></span> We do not accept VMs that are available on other platforms (VM owner is always the creator).</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Test Your VM:</strong></span> Make sure your VM works and can be resolved without errors before submitting it.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>File Format and Logic:</strong></span> Use only one <span class="text-color">.ova</span> file and ensure a logical flow in your VM.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Content Sensitivity:</strong></span> Avoid offensive content to maintain a positive environment.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Compatibility:</strong></span> Ensure your VM works in <span class="text-color">VirtualBox</span> (<span class="text-color">VMware</span> is optional).</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Flags Format:</strong></span> The flags must be <span class="text-color">MD5</span> strings to maintain consistency across machines.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Protect GRUB:</strong></span> Create a password at boot to prevent access before resolution.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Rabbit Hole:</strong></span> Don't overload the machine with traps that contribute nothing.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Clean History Files:</strong></span> Delete or redirect history files (<span class="text-color">.bash_hystory</span>/<span class="text-color">.mysql_history</span>) to <span class="text-color">/dev/null</span> (unless necessary to resolve the VM).</p>
        </li>
        <li>
          <p><span class="header-color"><strong>No unnecessary GUI:</strong></span> Virtual machines cannot have a graphical interface (allowed only when necessary for resolution)</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Flag Locations:</strong></span> Flags should be in <span class="text-color">/home/[user]/user.txt</span> & <span class="text-color">/root/root.txt</span>.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Domain Naming:</strong></span> If you need a domain/subdomain, use the <span class="text-color">.nyx</span> TLD (example: <span class="text-color">domain.nyx</span>/<span class="text-color">subdomain.domain.nyx</span>).</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Avoid External Links:</strong></span> Do not use external URLs that affect the resolution of the VM, keep it autonomous.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Brute Force Limit:</strong></span> If brute force is required, do not use a password that exceeds the <span class="text-color">first 5000 lines</span> of <span class="text-color">rockyou.txt</span>.</p>
        </li>
      </ul>
      <h2 class="rules-heading">About Writeups</h2>
      <ul class="rules-list">
        <li>
          <p><span class="header-color"><strong>Keep Flags Confidential:</strong></span> Don't reveal <span class="text-color">user.txt</span> & <span class="text-color">root.txt</span> flags in your writeup.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Status:</strong></span> Writeups with inactive links and displaying the flags will be removed when detected.</p>
        </li>
        <li>
          <p><span class="header-color"><strong>Malicious Links:</strong></span> Do not use <span class="text-color">URL Shortener</span> or <span class="text-color">IPLogger</span> in links.</p>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <div class="footer-logo">
      <img src="/assets/logoSM.png" alt="VulNyx small footer logo" loading="lazy" />
    </div>
    <p>© VulNyx 2023-2024. All rights reserved.</p>
  </footer>
</body>
</html>
